---
import { Image } from "astro:assets";
import InstagramLogo from "@assets/logos/instagram-logo.svg";
import AmoreLogo from "@assets/images/amore-logo-rect.png";
---

<section class="about-section flex p-4">
  <h2 class="section-title">Who we are</h2>
  <div class="about-content w-full flex flex-col-reverse lg:flex-row gap-8">
    <div class="about-text flex-1">
      <div class="text-content">
        <div class="text">
          Welcome to Amore Cafe. Our journey began not just with a love for
          coffee, but with a love for the moments that coffee creates. "Amore,"
          the Italian word for love, is the heart of our philosophy and the most
          important ingredient in everything we serve. <br /><br />
          We were founded on the simple belief that a cafe should be more than just
          a place to get your caffeine fix—it should be a second home. A warm, inviting
          space where the community can gather, friends can connect, and individuals
          can find a moment of peace in their busy day.
        </div>
      </div>
      <div class="social-info">
        <a href="https://www.instagram.com/amore.amd" class="social-handle">
          <Image
            class="logo-image"
            src={InstagramLogo}
            alt="Amore Cafe Logo"
            height={24}
          />
          <div class="handle-text">@amore.amd</div>
          <div class="social-icon"></div>
        </a>
      </div>
    </div>
    <div class="about-image w-full flex-1 border border-[#996365]">
      <div class="image p-2">
        <Image src={AmoreLogo} alt="" />
      </div>
    </div>
  </div>
</section>

<style>
  .about-content {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
  }

  .about-text {
    display: flex;
    width: 100%;
    padding: 8px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
  }

  .text {
    width: 100%;
  }

  .social-info {
    display: flex;
    padding: 3rem 0;
    justify-content: space-between;
    align-items: center;

    .social-handle {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      flex: 1 0 0;

      .handle-text {
        color: #000;
        font-family:
          Agrandir,
          -apple-system,
          Roboto,
          Helvetica,
          sans-serif;
        font-size: 1rem;
        letter-spacing: 1.05px;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
</style>
