---
import { Image } from "astro:assets";
import Item1 from "@assets/images/best-sellers/item-1.jpg";
import Item2 from "@assets/images/best-sellers/item-2.jpg";
import Item3 from "@assets/images/best-sellers/item-3.jpg";
---

<section
  class="best-sellers-section flex w-full max-w-[1440px] mx-auto flex-col items-center gap-12 bg-[#f9f3e7]">
  <h2
    class="section-title w-full h-auto text-black text-center font-inter text-3xl font-bold">
    Our Best Sellers
  </h2>
  <div
    class="product-grid flex flex-col p-1 items-start gap-4 w-full lg:flex-row">
    <div class="product-card">
      <div class="product-image">
        <Image src={Item1} alt="Best Seller 1" position="center" />
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <Image src={Item2} alt="Best Seller 2" />
      </div>
    </div>
    <div class="product-card">
      <div class="product-image">
        <Image src={Item3} alt="Best Seller 3" />
      </div>
    </div>
  </div>
</section>

<style>
  .product-card {
    width: 100%;
    padding: 4px;
    border: 1px solid #996365;
  }
</style>
