---
import Testimonials from "@components/home/testimonials.svelte";
---

<section
  class="social-proof-section w-full flex flex-col items-center py-12 bg-[#f9f3e7]">
  <h2 class="text-3xl font-boldtext-center mb-8 font-inter">What people say</h2>

  <Testimonials client:load />
</section>

<style>
  @reference "tailwindcss"

  .testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100vw;
    overflow-x: scroll;
  }
</style>
