---
import AmoreLogo from "@assets/images/amore-logo-circle.png";
import { Image } from "astro:assets";
import InstagramLogo from "@assets/logos/instagram-logo.svg";
---

<footer
  class="footer relative flex flex-col md:flex-row h-min items-center md:items-start">
  <hr class="absolute left-0 right-0 top-0 border-amber-900 border-t w-full" />
  <div
    class="flex flex-col items-center gap-4 px-4 md:px-8 lg:px-16 py-2 md:py-4 lg:py-8 w-max">
    <Image
      class="w-24 h-24 md:w-32 md:h-32 lg:w-64 lg:h-64 mb-2 aspect-square"
      src={AmoreLogo}
      alt="Amore Cafe Logo"
    />
    <div class="flex items-center gap-4">
      <a
        href="https://www.instagram.com/amore.amd"
        class="flex items-center gap-2 text-black text-base md:text-lg font-agrandir rounded-lg">
        <Image src={InstagramLogo} alt="Instagram" class="w-6 h-6" /> @amore.amd
      </a>
    </div>
  </div>
  <div
    class="flex md:h-max md:my-auto flex-col gap-8 max-wh-screen w-max justify-center">
    <nav
      class="flex flex-1 gap-4 md:gap-8 lg:gap-12 text-left flex-col md:flex-row">
      <a
        href="/menu"
        class="text-black font-agrandir text-lg md:text-xl lg:text-2xl">Menu</a
      >

      <a
        href="/location"
        class="text-black font-agrandir text-lg md:text-xl lg:text-2xl"
        >Locate Us</a
      >
    </nav>
    <div class="flex flex-1 flex-col md:flex-row gap-4 md:gap-8">
      <div class="flex gap-2 items-start w-full md:flex-col">
        <div class="text-black font-agrandir text-base md:text-lg w-1/4">
          Email:
        </div>
        <a
          href="mailto:cafeamore.sbr@gmail.com"
          class="text-black font-agrandir text-base break-words w-3/4">
          cafeamore.sbr@gmail.com
        </a>
      </div>
      <div class="flex gap-2 items-start w-full md:flex-col">
        <div class="text-black font-agrandir text-base md:text-lg w-1/4">
          Phone:
        </div>
        <a
          href="tel:+916351560030"
          class="text-black font-agrandir text-base break-words w-3/4">
          +91 63515 60030
        </a>
      </div>
      <div class="flex gap-2 items-start w-full md:flex-col">
        <div class="text-black font-agrandir text-base md:text-lg w-1/4">
          Location:
        </div>
        <a
          href="https://maps.app.goo.gl/5j53G7rJrz6RAFTT9"
          class="text-black font-agrandir text-base break-words w-64 md:w-3/4">
          Off Karnavati club Road, Mumatpura, Ahmedabad Gujarat 380054
        </a>
      </div>
    </div>
    <div class="w-full flex items-center py-8">
      <hr class="flex-1 border-gray-300" />
      <a
        href="https://x.com/khetalkankariya"
        class="text-base text-gray-500 font-agrandir w-max leading-0 text-wrap"
        >made by <strong>Khetal Kankariya</strong>
      </a>
    </div>
  </div>
</footer>
